#Brotli==1.0.9
#ConfigParser==7.1.0
#cryptography==43.0.0
#Cython==3.0.11
#dl==0.1.0
#HTMLParser==0.0.2
#ipaddr==2.2.0
#keyring==25.3.0
#lxml==5.2.1
numpy==2.1.0
ordereddict==1.1
#protobuf==3.20.3
pydantic==2.8.2
pydantic_extra_types==2.9.0
pandas==2.2.3
openpyxl==3.1.5
matplotlib==3.10.0
seaborn==0.13.2
python-docx==1.1.2
#pyOpenSSL==24.2.1
#pyOpenSSL==24.2.1
#thread==2.0.5
#wincertstore==0.2.1
#xmlrpclib==1.0.1
